@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient-bg {
    background-image: linear-gradient(0deg, rgb(106, 110, 106) 0%, rgb(245, 247, 245) 33%);
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }